.players {
    min-height: 77vh;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    width: 100%;
  }
td, th {
    padding: .5rem;
    text-align: center;
    border: 1px solid;
  }

.flex_container {
    display: flex;
    flex-direction: column;
    width: 70%;
    flex-wrap: wrap;
    margin: auto;
    padding: 0.5rem 0rem;
}

.playerInfo {
    text-align: left;
}

.playerButton {
    margin-left: auto;
    background-color: #C9082A;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.3em;
}

table {
    table-layout: fixed;
}

.tables_container {
    float: center;
    width: 100%;
}

.playerName {
    font-size: 200%;
}

.flex_horizontal {
    display:flex;
    align-content: center;
    align-items: center;
}