.calendarDates {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: #5c677d;
    margin: 25px;
  }

.calStyle {
    color: #5c677d;
    font-weight: bold;
}
  
.cal-links{
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style: None;
    margin: auto;
    text-align: right;
    background: white;
    padding: 10px;
  }

.currentDate {
  font-size: 200%;
}

.otherDates {
  font-size: 175%;
}

.otherDatesBefore {
  font-size: 150%;
}