.home {
  height: 80vh;
}

.home-links {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    list-style: None;
    justify-content: space-around;
    color:black !important;
    align-content: center;
  }

