.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #D3D3D3;
    color: #5c677d;
    font-weight: bold;
  }

.footerStyle {
    color: #5c677d;
    font-weight: bold;
}
  
.footer-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: right;
    list-style: None;
  }