nav {
  }

.nav_Style {
    color: #5c677d;
    font-weight: bold;
}

.nav_ul {
    height: 10vh;
    list-style: None;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #D3D3D3;
}

.nav_li {
    margin: 25px;
}

.first_item {
    margin-right: auto;
}